                    <div id="messageSection">
                    <hr>
                      <!--Encrypted message to seller-->
                      <div class="form-group">
                        <label for="messageToSeller"><span data-i18n="message_to_seller">Message to Seller</span></label>
                        <div class="iconic-input">
                          <i class="fa fa-bullhorn"></i>
                          <input type="text" class="form-control" data-i18n="[placeholder]placeholder_message_to_seller" id="messageToSeller">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="publicFeedback"><span data-i18n="public_feedback">Public Feedback</span></label>
                        <div class="iconic-input">
                          <i class="fa fa-bullhorn"></i>
                          <input type="text" class="form-control" data-i18n="[placeholder]placeholder_public_feedback" id="publicFeedback">
                        </div>
                      </div>
					</div>	  
                    <!--End of messageSection div-->
                    
					<div class="form-group">
					  <label for="secretPhrase"><span data-i18n="secret_phrase">Secret Phrase</span></label>
					  <div class="iconic-input">
					    <i class="fa fa-key"></i>
					    <input type="password" class="form-control" id="secretPhrase" data-i18n="[placeholder]placeholder_required">
					    <div id="secretPhraseErrorMessage"></div>
					  </div>
					</div>

					<div id="buttons">
                    <div class="form-group">
                      <a class="btn btn-success" id="finalizeButton" onclick="finalizePurchase()" type="button">
                        <span data-i18n="button_finalize_escrow">Finalize Purchase</span></a>
                      <a class="btn btn-danger" id="rejectButton" onclick="openDispute()" type="button">
                        <span data-i18n="button_reject_sale">Open Dispute</span></a>
                    </div>
					</div>
					<!--End of buttons div-->
                  </div>
                  <!--End of escrow_buttons_section div-->